/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
   background: #2B292E;
  color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
    color: #6F439C;
}

span {
    color: white;
    text-transform: uppercase;
}

p {
    display: flex;
    margin: 1em;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #6F439C;
  color:white;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  /* color: #777; */
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
    background-color: #353239;
    /* border-bottom: 1px solid #dedfe0; */
    /* color: #333333; */
    padding: 1rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

/* Form Inputs */

.input {
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: 1.6rem;
    margin-bottom: 1rem;
    padding: .4rem .8rem;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%
}

textarea::placeholder{
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: 1.4rem;
    padding: .4rem .8rem;
    font-family: Arial;
    color: grey;
    font-style: italic;

}

.checkbox {
    margin-right: 1em;
}
